= form_for @slide do |f|
  - if @slide.errors.any?
    #error_explanation
      %h2= "#{pluralize(@slide.errors.count, "error")} prohibited this slide from being saved:"
      %ul
        - @slide.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :section_id
    = f.number_field :section_id
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_field :content
  .field
    = f.label :image
    = f.text_field :image
  .actions
    = f.submit 'Save'
