%h1 Listing slides

%table
  %tr
    %th Section
    %th Title
    %th Content
    %th Image
    %th
    %th
    %th

  - @slides.each do |slide|
    %tr
      %td= slide.section_id
      %td= slide.title
      %td= slide.content
      %td= slide.image
      %td= link_to 'Show', admin_slide_path(slide)
      %td= link_to 'Edit', edit_admin_slide_path(slide)
      %td= link_to 'Destroy', admin_slide_path(slide), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Slide', new_admin_slide_path
= link_to 'New Admin', new_admin_user_path

